data/lieferanten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="lieferanten">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lieferant" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="email" type="xs:string" minOccurs="0"/>
                            <xs:element name="phone" type="xs:string" minOccurs="0"/>
                            <xs:element name="type" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="strom"/>
                                        <xs:enumeration value="gas"/>
                                        <xs:enumeration value="solar"/>
                                        <xs:enumeration value="mixed"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>